<h3>Navigate three tab emloyee Details shown over here </h3>

<table *ngIf="employee" class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>employee Code</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>gender</th>
            <th>age</th>
            <th>company</th>
            <th>salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td>{{employee.empcode}}</td>
                <td>{{employee.firstname }}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.company}}</td>
                <td>{{employee.salary}}</td>
            </tr>
        
    </tbody>
    </table>

    <div *ngIf="!employee">{{statusMessage}}</div>
    
    <!--button [disabled]="buttonClick">click me</button>

    <button [class]="classToApply">Click here</button>

    <p  [style.font-size]="isBold?'40px' : '2px'">loren ipsum lorem ipsum lirudlcdskkdsgkdsgjgd</p>-->
    <!--<button (click)="myClick()">Click me</button>-->
    <!--<button (click)="showDetail()" class="btn btn-primary">{{ShowButon?'Show Detail':'hide Detail'}}</button>-->

    <br />
    <br />

    <input [value]="textboxname" [(ngModel)]="textboxname" />
    {{textboxname}}
